name: Update README with activity

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Update README
        uses: JamesIves/github-activity-readme@v0.1.5
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
