name: Update README with activity

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: JamesIves/github-activity-readme@v0.1.5
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
